.modal {
  right: 0;
  bottom: 0;
}

.modal-dialog {
  max-width: 1100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-content {
  border: none;
  overflow: hidden
}

.modal-body {
  padding: 0;
}

.carousel-inner {
  height: 80vh;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}